<a href="https://colab.research.google.com/github/pavankonam/Cognizant/blob/main/Cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries

In [21]:
import pandas as pd
import numpy

Loading the dataset

In [22]:
i='https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv'
j='https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv'

Calling cars1 and cars2 and reading data

In [23]:
cars1=pd.read_csv(i)
cars2=pd.read_csv(j)
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

Printing the top rows of cars1

In [24]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

Removing the unnamed columns

In [30]:
cars1.drop(cars1.columns[cars1.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

Checking the total number of rows

In [34]:
cars1.shape[0],cars2.shape[0]

(198, 200)

Combining data

In [37]:
x=[cars1,cars2]
cars=pd.concat(x)
cars.shape[0]

398

Adding new column to data cars

In [40]:
owner = pd.DataFrame(numpy.random.randint(15000,73000,size=398))
cars['owners']=owner
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,39851
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,49495
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,55480
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,66484
4,17.0,8,302,140,3449,10.5,70,1,ford torino,70245