<a href="https://colab.research.google.com/github/pavankonam/Cognizant/blob/main/Fictitiousname.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Libraries

In [1]:
import pandas as pd
import numpy as np

Creating the dataframes

In [2]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

Loading Data

In [4]:
data1=pd.DataFrame(raw_data_1)
data2=pd.DataFrame(raw_data_2)
data3=pd.DataFrame(raw_data_3)

Combining Data along rows

In [7]:
all_data = pd.concat([data1,data2])
all_data.head()

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches

Combining Data along columns

In [8]:
all_data_col = pd.concat([data1,data2],axis=1)
all_data_col.head()

  subject_id first_name last_name subject_id first_name last_name
0          1       Alex  Anderson          4      Billy    Bonder
1          2        Amy  Ackerman          5      Brian     Black
2          3      Allen       Ali          6       Bran   Balwner
3          4      Alice      Aoni          7      Bryce     Brice
4          5     Ayoung   Atiches          8      Betty    Btisan

Printing Data3

In [9]:
data3.head()

  subject_id  test_id
0          1       51
1          2       15
2          3       15
3          4       61
4          5       16

Combining Data on subject id

In [13]:
x=pd.merge(all_data,data3,on='subject_id')
x.head(10)

  subject_id first_name last_name  test_id
0          1       Alex  Anderson       51
1          2        Amy  Ackerman       15
2          3      Allen       Ali       15
3          4      Alice      Aoni       61
4          4      Billy    Bonder       61
5          5     Ayoung   Atiches       16
6          5      Brian     Black       16
7          7      Bryce     Brice       14
8          8      Betty    Btisan       15

merging data1 and data2 on subject id

In [14]:
y=pd.merge(data1,data2,on='subject_id',how='inner')
y.head()

  subject_id first_name_x last_name_x first_name_y last_name_y
0          4        Alice        Aoni        Billy      Bonder
1          5       Ayoung     Atiches        Brian       Black

Merge all values in data1 and data2, with matching records from both sides where available.

In [15]:
z=pd.merge(data1,data2,on=list(data1.columns),how='inner')
z.head()

Empty DataFrame
Columns: [subject_id, first_name, last_name]
Index: []